a {
    text-decoration: none; 
    margin: 11px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

a:hover{
    background-color: orange;
}

h1{
    color: #B70404;
    font-size: 65px;
    text-align: center
}

h2{
    text-align: center;
    font-size: 30px;
}
#more-info{
    background-color: burlywood;
    padding: 10px;
}
#more-info img{
    width: 125px;
    height: 125px;
    border: 2px solid blueviolet;
}

#more-info div {
    text-align: center;
}

#price{
    background-color: black;
    padding: 10px;
    color: #FFE6E6;
}

#price table{
    border: 2px solid #FFE6E6;
    border-collapse: collapse;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
}

#price td{
    border: 1px solid #FFE6E6;
    padding: 5px;
}

footer{
    background-color: #AD88C6;
    padding: 10px;
}

footer p{
    margin: 2px;
    font-size: 15px;
}

footer{
    color: white;
}

p style{
    background-color: white;
}
